<!DOCTYPE html>
<html>
  <head>
    <title>Showmovies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
  </head>


  <body class="container">
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "My Movies", movies_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Public Movies", public_path, class: 'nav-link' %>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <%= current_user.email %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger my-2 my-sm-0') %>   
          </form>
        </div>
      </nav>
    <% end %>  
    <%= yield %>
  </body>
</html>
